{#---
sort_order: 0
---#}
<h2 class="visually-hidden">Contact information</h2>
<address style="white-space: nowrap;font-style: normal">
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="visually-hidden">email</span>
    {% include '@psu-ooe/sprite/sprite.twig' with { name: 'envelope' } only %}&nbsp;
    <a href="#"><span class="text text--size-msmall text--height-snug text--weight-semibold">drupal@psu.edu</span></a>
  </div>
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="visually-hidden">phone</span>
    <span class="text text--size-msmall text--height-snug text--weight-regular" style="font-style: italic">Yammer</span>:&nbsp;
    <a href="https://www.yammer.com/psu.edu/#/threads/inGroup?type=in_group&feedId=168911"><span class="text text--size-msmall text--height-snug text--weight-semibold">PSU Drupal Users</span></a>
  </div>
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="text text--size-msmall text--height-snug text--weight-regular" style="font-style: italic">Slack</span>:&nbsp;
    <a href="https://psudug.slack.com/signup/"><span class="text text--size-msmall text--height-snug text--weight-semibold">psudug.slack.com</span></a>
  </div>
</address>
